/***********************************************************************
* File that contains variables that components van utilize.
*
* Here's an example of the Navbar.scss file importing this file:
* @import "../../stylesheets/variables.scss";
***********************************************************************/
.App {
  background-color: #d0d0d0;
  border-radius: 0.4rem;
  box-shadow: 1px 1px 3px #444;
  padding: 1rem 2rem;
  text-align: center; }
  .App h1 {
    margin: 0 0 0.7rem 0; }
