@import "../../stylesheets/variables.scss";

.App {
  background-color: $app-background-color;
  border-radius: 0.4rem;
  box-shadow: 1px 1px 3px #444;
  padding: 1rem 2rem;
  text-align: center;

  h1 {
    margin: 0 0 0.7rem 0;
  }
}
