/***********************************************************************
* File that contains variables that components van utilize.
*
* Here's an example of the Navbar.scss file importing this file:
* @import "../../stylesheets/variables.scss";
***********************************************************************/
$active-card: #ff6600;
$body-background-color: #ff6600;
$app-background-color: #d0d0d0;
$board-color: #999;
$card-hover: #368DDE;
$card-found: #999;
$reset-button: #167BD9;
$text-color: #333;
